@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.EntityFrameworkCore
@inject NavigationManager Navigation
@inject SharedStateService SharedState
@inject ProtectedSessionStorage SessionStorage
@inject ProjectDbContext DB

<PageTitle>Home</PageTitle>

<header class="header-section">
    <div class="header-left">
        <div class="header-logo" @onclick="GoToHome">
        </div>
        <div class="search-bar">
            <input type="text" @bind="homeSearchQuery" placeholder="Search your product" @onkeyup="HandleKeyUp" />
            <button class='search-button' @onclick="GoToSearch">Search</button>
        </div>
    </div>
    <div class="header-right">

        @if (SharedState.IsLoggedIn)
        {
            <div class="user-dropdown-container">
                <div class="dropdown-trigger" @onclick="ToggleDropdown">
                    Witaj, <b>@SharedState.UserName</b>! <span class="arrow">▼</span>
                </div>

                @if (isDropdownOpen)
                {
                    <div class="dropdown-menu">
                        <button class="dropdown-item" @onclick="GoToProfile">Profile</button>
                        <hr class="dropdown-divider" />
                        <button class="dropdown-item logout" @onclick="HandleLogout">Log out</button>
                    </div>
                }
            </div>
            <button class="category-button" @onclick="GoToAddProducts">Add offer</button>
        }
        else
        {
            <button class="auth-button" @onclick="GoToLogin">Log in</button>
        }
    </div>
    <div class="cart-container" @onclick="GoToCart">
        <i class="bi bi-cart3"></i>
        @if (TotalItemsInCart > 0)
        {
            <span class="cart-badge">@TotalItemsInCart</span>
        }
        else
        {
            <span class="cart-count-zero">0</span>
        }
    </div>
</header>


<section class="categories-section">
    <button class="category-button" @onclick='() => FilterByCategory("Electronics")'><span>Electronics</span></button>
    <button class="category-button" @onclick='() => FilterByCategory("Home&Garden")'><span>Home & Garden</span></button>
    <button class="category-button" @onclick='() => FilterByCategory("Fashion")'><span>Fashion</span></button>
    <button class="category-button" @onclick='() => FilterByCategory("Sport")'><span>Sport</span></button>
    <button class="category-button" @onclick='() => FilterByCategory("Motors")'><span>Motors</span></button>
</section>


<main class="main-content">
    <div class="content-block">
        <h3>PLACEHOLDER</h3>
    </div>
    <div class="content-block">
        <h3>PLACEHOLDER</h3>
    </div>
</main>


<footer class="footer-section">
    Footer
</footer>

@code {
    private void GoToHome() => Navigation.NavigateTo("/");
    private void GoToProfile() => Navigation.NavigateTo("/profile");
    private void GoToAddProducts() => Navigation.NavigateTo("/addproducts");
    private string homeSearchQuery = "";
    private int TotalItemsInCart;
    private void GoToCart() => Navigation.NavigateTo("/cart");


    protected override void OnInitialized()
    {
        SharedState.OnChange += StateHasChanged;
    }
    private async Task HandleLogout()
    {
        isDropdownOpen = false; 
        SharedState.Logout();
        try
        {
            await SessionStorage.DeleteAsync("userId");
            await SessionStorage.DeleteAsync("userName");
        }
        catch
        {
        }
    }
    private bool isDropdownOpen = false;

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var resultId = await SessionStorage.GetAsync<int>("userId");
            var resultName = await SessionStorage.GetAsync<string>("userName");

            if (resultId.Success && resultName.Success)
            {
                if (!SharedState.IsLoggedIn)
                {
                    SharedState.Login(resultId.Value, resultName.Value!);

                    await UpdateCartCounter();
                    StateHasChanged();
                }
            }
        }
    }
    private void GoToLogin()
    {
        var currentUri = Navigation.ToBaseRelativePath(Navigation.Uri);
        Navigation.NavigateTo($"/login?returnUrl={Uri.EscapeDataString(currentUri)}");
    }
    private void FilterByCategory(string categoryName)
    {
        Navigation.NavigateTo($"/products?category={Uri.EscapeDataString(categoryName)}");
    }
    private void GoToSearch()
    {
        if (!string.IsNullOrWhiteSpace(homeSearchQuery))
        {
            Navigation.NavigateTo($"/products?search={Uri.EscapeDataString(homeSearchQuery)}");
        }
    }
    private void HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter") GoToSearch();
    }
    private async Task UpdateCartCounter()
    {
        if (SharedState.UserId > 0)
        {
            TotalItemsInCart = await DB.CartItems
                .Where(c => c.CustomerId == SharedState.UserId)
                .SumAsync(c => (int?)c.Quantity) ?? 0;
        }
        else
        {
            TotalItemsInCart = 0;
        }
        StateHasChanged();
    }


}