:root {
    font-family: 'Montserrat';
    background-color: #F1ECEA;
    color: #ff0000;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0B7615;

    color: #FFFFFF;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a0a0a0;
}
    .header-logo:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

.login-container {
    max-width: 400px;
    margin: 80px auto;
    color: #224470;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
}


.login-form {
    background-color: var(--text-color-light);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 2rem;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 20px;
    text-align: left;
}

    .form-field label {
        display: block;
        margin-bottom: 8px;
        color: #1a3350;
        font-weight: 700; 
        text-align: left;
    }

    .form-field ::deep input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        font-size: 1rem;
        box-sizing: border-box;
        color: #1a3350;
        background-color: #FFFFFF;
    }
  

        .form-field input::placeholder {
            color: rgba(26, 26, 26, 0.5);
        }


.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #224470;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

    .login-button:hover {
        background-color: #1a3350;
    }

.validation-message {
    color: #dc3545;
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}
.alert-danger {
    background-color: #ffe6e6;
    color: #cc0000;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ffcccc;
}


 .footer-section {
    padding: 1.5rem 2rem;
    background-color: #0B7615;
    text-align: left;
    color: #FFFFFF;
    font-size: 0.9rem;
}


.registration-alert {
    background-color: #d4edda;
    color: #155724;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #c3e6cb;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    animation: fadeInDown 0.5s ease-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}