@page "/profile"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager Navigation
@inject SharedStateService SharedState
@inject ProtectedSessionStorage SessionStorage


<PageTitle>Profile</PageTitle>

<header class="header-section">
    <div class="header-left">
        <div class="header-logo" @onclick="GoToHome">
        </div>
        <h1> Ustawienia </h1>
    </div>
    <div class="header-right">
        <button class="auth-button" @onclick="HandleLogout" >Wyloguj</button>
    </div>
</header>

<main class="main-content-area">
    <div class="options-grid-container">
        <div class="option-block" @onclick="GoToHistory">Historia zakupow</div>
        <div class="option-block">OPTION</div>
        <div class="option-block">OPTION</div>
        <div class="option-block">OPTION</div>
        <div class="option-block">OPTION</div>


        <div class="option-block">OPTION</div>
        <div class="option-block">OPTION</div>
        <div class="option-block">OPTION</div>
        <div class="option-block">OPTION</div>
        <div class="option-block">OPTION</div>
    </div>
</main>


<footer class="footer-section">
    Footer
</footer>
@code {
    private void GoToHome()
    {
        Navigation.NavigateTo("/"); 
    }
    private void GoToHistory()
    {
        Navigation.NavigateTo("/history");
    }
    private async Task HandleLogout()
    {
        isDropdownOpen = false;
        SharedState.Logout();
        try
        {
            await SessionStorage.DeleteAsync("userId");
            await SessionStorage.DeleteAsync("userName");
        }
        catch
        {
        }
    }
    private bool isDropdownOpen = false;

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
        StateHasChanged();
    }
}