:root {
    font-family: 'Montserrat';
    background-color: #F1ECEA;
}

.header-section, .footer-section {
    padding: 1rem 2rem;
    background: #0B7615; 
    color: #fff;
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo {
    width: 100px;
    height: 100px;
    background: #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
}

    .header-logo:hover {
        transform: translateY(-3px);
    }
.auth-button {
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    border: 1px solid #224470;
    background-color: #224470;
    color: #FFFFFF;
    transition: background-color 0.2s;
}

    .auth-button:hover {
        background-color: #16325A;
    }

.main-content-area {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.5rem; 
    width: 100%;
    max-width: 900px; 
    margin: 0 auto; 
}

.option-block {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    font-weight: 600;
    color: #224470;
    cursor: pointer;
}

    .option-block:hover {
        transform: translateY(-4px);
    }

.delete-btn {
    color: #dc3545 !important;
}
    .delete-btn:hover {
        background: #fff5f5;
    }

.access-denied-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.access-card {
    background: #fce4e4;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    padding: 25px;
    width: 450px;
    min-width: 300px;
    max-width: 500px;

    text-align: center;
}

    .access-card h2 {
        color: #721c24;
        margin-bottom: 15px;
    }

.access-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.btn-login, .btn-home {
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: 0.2s;
}

.btn-login {
    background: #dc3545;
    color: #fff;
    border: none;
}

    .btn-login:hover {
        background: #c82333;
    }