:root {
    font-family: 'Montserrat';
    background-color: #F1ECEA;
    color: #ff0000;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0B7615;

    color: #FFFFFF;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a0a0a0;
}
    .header-logo:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

.auth-button {
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    border: 1px solid #224470;
    background-color: #224470;
    color: #FFFFFF;
    transition: background-color 0.2s;
}

    .auth-button:hover {
        background-color: #16325A;
    }
.main-content-area {
    flex-grow: 1;
    padding: 2rem;
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
}

.options-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.5rem; 
    width: 100%;
    max-width: 900px; 
    margin: 0 auto; 
}

.option-block {
    background-color: var(--text-color-light); 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0.5rem; 
    padding: 2rem; 
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

    .option-block:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }


 .footer-section {
    padding: 1.5rem 2rem;
    background-color: #0B7615;
    text-align: left;
    color: #FFFFFF;
    font-size: 0.9rem;
}
.dropdown-menu {
    display: block; 
    position: absolute;
    z-index: 9999; 
    background: white;
    border: 1px solid #ccc;
}